<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= @roll.trip %>
</p>

<p>
  <strong>Player group:</strong>
  <%= @roll.player_group %>
</p>

<p>
  <strong>Modifier:</strong>
  <%= @roll.modifier %>
</p>

<p>
  <strong>Raw value:</strong>
  <%= @roll.raw_value %>
</p>

<%= link_to 'Edit', edit_roll_path(@roll) %> |
<%= link_to 'Back', rolls_path %>
